{% extends "design/responsivebase.html" %}

{% block content %}
<div class="row text-center">
    <div class="col-12">
        <p class="lead">Our Premium Products</p>
    </div>
  
</div>
<div class="row text-center">
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/samsungevo.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b> Samsung EVO plus</b></h5>
        <p class="card-text">(Samsung 32GB Evo Plus )<br>Price: Rs.600.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/sandisk.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>SanDisk ultra 32 gb</b></h5>
        <p class="card-text">(SanDisk Ultra 32 GB MicroSDHC Class 10 98 MB/s Memory )<br> Price: Rs.900.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/duo.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Intel® Core™2 Duo Processor E7500</b></h5>
        <p class="card-text">(Duo E8400 )<br>Price: Rs.475.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/intelmicro.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Intel CL8064701528404S R195</b></h5>
        <p class="card-text">(Microprocessor MPU Core™ i7-4860EQ Processor RISC 64bit 22nm 1.8GHz 1364-Pin FCBGA)<br>Price: Rs.5500.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/graphiccard.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Supermicro Tesla K80 Graphic Card<b></b></h5>
        <p class="card-text"> (2 GPUs - 562 MHz Core - 875 MHz Boost Clock - 24 GB GDDR5 SDRAM)<br>Price: Rs.5000.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/andtronic.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>ANDTRONICS PCI VGA </b></h5>
        <p class="card-text">(Add on Card 8MB with ATI chip)<br>Price: Rs.2.500.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/Semiconductor.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>ON Semiconductor </b></h5>
        <p class="card-text">(NCS2200AGEVB)<br>Price: Rs.2,200.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/Stick.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Win10 MINI PC Stick Computer</b></h5>
        <p class="card-text"> (Intel Atom Z8350 + 4 GB Ram ))<br>Price: Rs.3,500.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/channel.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>TDA7388 4 Channel Power Audio Amplifier IC</b></h5>
        <p class="card-text"> (1 x TDA7388 4 Channel Power Audio Amplifier IC)<br>Price: Rs.5,099.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/audio.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>Car audio power amplifier </b></h5>
        <p class="card-text"> (IC chips Support BOM)<br>Price: Rs.2,399.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/Sparkfun.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>SparkFun  LED Lighting Development Tools</b></h5>
        <p class="card-text"> (BOB-10680)<br>Price: Rs.2,199.00</p>
    </div>
    </div>
    <div class="card col-12 col-md-6 col-lg-3">
    <img class="card-img-top" src="/static/img/LED.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><b>24-Channel  LED Driver</b></h5>
        <p class="card-text"> (12-bit PWM)<br>Price: Rs.39,999.00</p>
    </div>
    </div>
</div>
{% endblock  %}